---
//component
import ButtonLink from "@components/global/ButtonLink.astro";
---

<section class="wrapper-main margin-center">
  <h1>Astro Minimal Starter</h1>
  <ButtonLink href="/about">Learn More</ButtonLink>
</section>

<style>
  h1 {
    margin-bottom: var(--space-m);
  }
</style>
