---
//layouts
import BaseLayout from "@layouts/BaseLayout.astro";

//components
const { title } = Astro.props;
---

<BaseLayout title={title}>
  <main>
    <h1>Hello World</h1>
  </main>
</BaseLayout>
