---
//menu
import { nav } from '@config/menu.json'
---

<header>
    <div class="wrapper-main nav-wrapper">
        <a href="/">AMS</a>
        <nav>
            <ul>
                {
                    nav.map((menu) => (
                        <li>
                            <a href={menu.path}>{menu.name}</a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>

<style>
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        padding: var(--space-m) 0;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: var(--space-s);
    }
</style>