---

// Props
interface Props {
  href: string;
  size?: 'small' | 'medium' | 'large';
  radius?: 'square' | 'natural' | 'round';
  theme?: 'primary' | 'secondary' | 'primary-outline' | 'secondary-outline' | 'disabled';
}

const { 
  href, 
  theme = "primary",
  size = 'medium',
  radius = "square",
  } = Astro.props
---

<a 
  href={href}
  data-theme={theme}
  data-size={size}
  data-radius={radius}
>
  <slot />
</a>

<style>
  a {
    border: 1px solid transparent;
  }

  [data-size="small"] {
    font-size: var(--step--1);
    padding: var(--space-2xs) var(--space-xs);
  }

  [data-size="medium"] {
    font-size: var(--step-0);
    padding: var(--space-xs) var(--space-s);
  }

  [data-size="large"] {
    font-size: var(--step-1);
    padding: var(--space-s) var(--space-m);
  }

  [data-radius="square"] {
    border-radius: 0;
  }

  [data-radius="natural"] {
    border-radius: 3px;
  }

  [data-radius="round"] {
    border-radius: 7px;
  }

  [data-theme="primary"] {
    background-color: var(--clr-button-primary);  
    color: var(--clr-white);
  }

  [data-theme="secondary"] {
    background-color: var(--clr-button-secondary);
    color: var(--clr-white);
  }

  [data-theme="primary-outline"] {
    background-color: transparent;
    color: var(--clr-button-primary);
    border: 1px solid var(--clr-button-primary);  
  }

  [data-theme="secondary-outline"] {
    background-color: transparent;
    color: var(--clr-button-secondary);
    border: 1px solid var(--clr-button-secondary);
  }

  [data-theme="disabled"] {
    background-color: var(--clr-gray-light);
    color: var(--clr-white);
    cursor: not-allowed;
  }
</style>